AssembliesLearning/modifierseplxained.png
AssembliesLearning/Assembly1/.vs/Assembly1/DesignTimeBuild/.dtbcache.v2
AssembliesLearning/Assembly1/.vs/Assembly1/FileContentIndex/0bf2bf0c-8ccc-4b2e-b3b0-5df76c6f7c56.vsidx
AssembliesLearning/Assembly1/.vs/Assembly1/FileContentIndex/70c37cc2-a88a-4180-9373-21642c5c33aa.vsidx
AssembliesLearning/Assembly1/.vs/Assembly1/FileContentIndex/683c7ab7-ae09-46a7-87e9-2added108eb0.vsidx
AssembliesLearning/Assembly1/.vs/Assembly1/v17/.futdcache.v2
AssembliesLearning/Assembly1/.vs/Assembly1/v17/.suo
AssembliesLearning/Assembly1/.vs/Assembly1/v17/DocumentLayout.backup.json
AssembliesLearning/Assembly1/.vs/Assembly1/v17/DocumentLayout.json
AssembliesLearning/Assembly1/.vs/ProjectEvaluation/assembly1.metadata.v9.bin
AssembliesLearning/Assembly1/.vs/ProjectEvaluation/assembly1.projects.v9.bin
AssembliesLearning/Assembly1/.vs/ProjectEvaluation/assembly1.strings.v9.bin
AssembliesLearning/Assembly1/bin/Debug/net8.0/Assembly1.deps.json
AssembliesLearning/Assembly1/bin/Debug/net8.0/Assembly1.dll
AssembliesLearning/Assembly1/bin/Debug/net8.0/Assembly1.pdb
AssembliesLearning/Assembly1/obj/Assembly1.csproj.nuget.dgspec.json
AssembliesLearning/Assembly1/obj/Assembly1.csproj.nuget.g.props
AssembliesLearning/Assembly1/obj/Assembly1.csproj.nuget.g.targets
AssembliesLearning/Assembly1/obj/project.assets.json
AssembliesLearning/Assembly1/obj/project.nuget.cache
AssembliesLearning/Assembly1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.AssemblyInfo.cs
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.AssemblyInfoInputs.cache
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.assets.cache
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.csproj.CoreCompileInputs.cache
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.csproj.FileListAbsolute.txt
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.dll
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.GeneratedMSBuildEditorConfig.editorconfig
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.GlobalUsings.g.cs
AssembliesLearning/Assembly1/obj/Debug/net8.0/Assembly1.pdb
AssembliesLearning/Assembly1/obj/Debug/net8.0/ref/Assembly1.dll
AssembliesLearning/Assembly1/obj/Debug/net8.0/refint/Assembly1.dll
AssembliesLearning/Assembly2/.vs/Assembly2/FileContentIndex/09615e29-7ef6-4ba2-9188-7c76f657afdd.vsidx
AssembliesLearning/Assembly2/.vs/Assembly2/FileContentIndex/bc02e12a-bcb7-46dc-973f-2c520566031c.vsidx
AssembliesLearning/Assembly2/.vs/Assembly2/v17/.futdcache.v2
AssembliesLearning/Assembly2/.vs/Assembly2/v17/.suo
AssembliesLearning/Assembly2/.vs/Assembly2/v17/DocumentLayout.backup.json
AssembliesLearning/Assembly2/.vs/Assembly2/v17/DocumentLayout.json
AssembliesLearning/Assembly2/obj/Assembly2.csproj.nuget.dgspec.json
AssembliesLearning/Assembly2/obj/Assembly2.csproj.nuget.g.props
AssembliesLearning/Assembly2/obj/Assembly2.csproj.nuget.g.targets
AssembliesLearning/Assembly2/obj/project.assets.json
AssembliesLearning/Assembly2/obj/project.nuget.cache
AssembliesLearning/Assembly2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AssembliesLearning/Assembly2/obj/Debug/net8.0/Assembly2.AssemblyInfo.cs
AssembliesLearning/Assembly2/obj/Debug/net8.0/Assembly2.AssemblyInfoInputs.cache
AssembliesLearning/Assembly2/obj/Debug/net8.0/Assembly2.assets.cache
AssembliesLearning/Assembly2/obj/Debug/net8.0/Assembly2.csproj.CoreCompileInputs.cache
AssembliesLearning/Assembly2/obj/Debug/net8.0/Assembly2.csproj.FileListAbsolute.txt
AssembliesLearning/Assembly2/obj/Debug/net8.0/Assembly2.GeneratedMSBuildEditorConfig.editorconfig
AssembliesLearning/Assembly2/obj/Debug/net8.0/Assembly2.GlobalUsings.g.cs
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/DesignTimeBuild/.dtbcache.v2
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/FileContentIndex/2df486c2-3413-46e8-b34e-addfbdf6e08c.vsidx
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/FileContentIndex/3a076332-abd2-48f1-b6f3-cdad78ae8d1d.vsidx
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/FileContentIndex/46cabfe8-8570-4f8c-b9a5-0c7690187388.vsidx
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/FileContentIndex/202e1a0d-785c-4dcb-91ea-cbe9ef2e86a9.vsidx
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/FileContentIndex/711bc4ba-dc46-4519-9d7a-0a245a70eb6c.vsidx
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/v17/.futdcache.v2
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/v17/.suo
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/v17/DocumentLayout.backup.json
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/v17/DocumentLayout.json
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/v17/TestStore/0/000.testlog
AssembliesLearning/AssemblySamples/.vs/AssemblySamples/v17/TestStore/0/testlog.manifest
AssembliesLearning/AssemblySamples/.vs/ProjectEvaluation/assemblysamples.metadata.v9.bin
AssembliesLearning/AssemblySamples/.vs/ProjectEvaluation/assemblysamples.projects.v9.bin
AssembliesLearning/AssemblySamples/.vs/ProjectEvaluation/assemblysamples.strings.v9.bin
/.vs
/AssembliesLearning
/img
/OperatorOverloadingAndSortingEg/.vs
/OperatorOverloadingAndSortingEg/bin/Debug/net8.0
/OperatorOverloadingAndSortingEg/obj
